In [2]:
class User:
    def __init__(self,name,ID,gander,BD,address,email,phone_number,password,user_name):
            self.name=name
            self.ID=ID
            self.gander=gander
            self.BD=BD
            self.address=address
            self.email=email
            self.phone_number=phone_number
    def peresent(self):
        return f" name :{self.name} \n ID : {self.ID} \n BD {self.BD} \n gander : {self.gander} \n email{ self.email} \n phone number :{self.phone_number}"

In [3]:
class Bank(User):
    def __init__(self,name,ID,gander,BD,address,email,phone_number,balnce,acount_number,password,user_name):
        self.acount_number=acount_number
        self.password=password
        self.user_name=user_name
        self.balnce=float(balnce)
        super().__init__(name,ID,gander,BD,address,email,phone_number,password,user_name)
    def deposit(self,amount):
        amount=float(amount)
        self.balnce=self.balnce+amount
    def withdraw(self,amount):
        amount=float(amount)
        if self.balnce >= amount:
            self.balnce=self.balnce-amount
    def balnce_amount(self):
        return self.balnce
    
    def peresent(self):
        return f" name :{self.name} \n id : {self.ID} \n BD {self.BD} \n gander : {self.gander} \n email : { self.email} \n phone_number : {self.phone_number} \n acount_number : {self.acount_number} \n password : {self.password} \n user_name: {self.user_name} \n balnce : {self.balnce} "    

    def PasswordChecker(self,x,z):
        if x !=self.password and z!=self.user_name:
            return False
        else:
            return True

In [4]:
def main():
    print(" 1 to show all details  account \n 2 to show account balance \n 3 to withdraw \n 4 to deposit \n")

In [5]:
b1=Bank("mohamed",10,"male","24-12-2001","cairo","mohamedxcrown@gmail.com","01123107777",10000,100,2020,"crown")

In [6]:
main()
print(b1.peresent())
print(b1.balnce_amount())
b1.withdraw(100)
b1.withdraw(200)

 1 to show all details  account
 2 to show account balance
 3 to withdraw
 4 to deposit

 name :mohamed
 id : 10
 BD 24-12-2001
 gander : male
 email : mohamedxcrown@gmail.com
 phone_number : 01123107777
 acount_number : 100
 password : 2020
 user_name: crown
 balnce : 10000.0
10000.0

In [7]:
def main2():
    while True:
        main()
        x=int(input())
        if x==0:
            break
        u=input("enter your user name : ")
        p=input("enter your user password : ")
        if b1.PasswordChecker(p,u):
            if x==1:
                print(b1.peresent(),"\n")
            elif x==2:
                print(b1.balnce_amount(),"\n")    
            elif x==3:
                z=input("enter amount : " )
                b1.withdraw(x)
            elif x==4:
                z=input("enter amount : " )
                b1.balnce_amount(x)
            elif x==0:
                break
        else:
            print("wrong pass")
            break
    return

In [8]:
main2()

 1 to show all details  account
 2 to show account balance
 3 to withdraw
 4 to deposit

1
enter your user name : xcrown
enter your user password : 2020
wrong pass

In [18]:
import pandas as pd
table=pd.read_csv("Salary_Data.csv")
table.dropna(inplace=True)
print(table.describe())
table.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000